/* -- custom media query height classes --*/
@media screen and (max-width: 400px) {

	.callout {
  		font-size: 80%;
	}
}
/*
@media screen and (max-width: 992px) {

	.callout {
		height: 100%;
  		min-height: 1000px;
	}
}

@media screen and (min-width: 399px) {

	.callout {
		height: 100%;
		min-height: 480px;
	}
}
*/